/* SECTION 1 */
.whole-wrap {
  margin: 0 16px;
}
.showcase__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1em;
}
.showcase .showcase__picture img {
  object-fit: cover;
}
.showcase__content {
  padding: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "title"
    "content-1"
    "content-2";
  align-content: center;
  text-align: left;
}
.showcase__title {
  grid-area: title;
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
}
.g-content {
  text-indent: 0.5rem;
  font-size: 1.1rem;
}
.showcase__content-1 {
  grid-area: content-1;
}
.showcase__content-2 {
  grid-area: content-2;
}

.span__color {
  color: #28939d;
  font-weight: 700;
}
/* SECTION 2 */
.portfolio-wrap {
  margin: 0 2rem;
  padding-top: 2rem;
  margin-bottom: 2rem;
}
.portfolio {
  background: #fcfcfc;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  align-items: center;
  justify-self: center;
}
.portfolio__title {
  font-size: 5rem;
  font-family: "Noto Sans KR" sans-serif;
  font-weight: 900;
  margin-left: 0.825rem;
  margin-bottom: 2.125rem;
}
.portfolio img {
  box-shadow: var(--shadow-lg);
}
.portfolio img:nth-child(1),
.portfolio img:nth-child(4),
.portfolio img:nth-child(5),
.portfolio img:nth-child(8) {
  align-self: center;
}
/* SECTION 3 */

.about__title {
  text-align: right;
  padding: 1rem;
  font-size: 5rem;
  font-family: "Noto Sans KR" sans-serif;
  font-weight: 900;
  margin-right: 0.825rem;
}
.about__grid {
  padding-top: 5rem;
  margin-bottom: 5rem;
  display: grid;
  grid-gap: 1.2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.about__card {
  text-align: center;
}
.about__card {
  position: relative;
  overflow: hidden;
}
.about__card .about__information {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #28939d;
  color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: 0.4s transform ease, 0.1s opacity ease;
}
.about__card:hover .about__information {
  transform: translateY(0%);
  opacity: 1;
}
.about__information h2 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 0.5em;
}
.about__information p {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
}
.about__information .about__job {
  display: inline-block;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 20%;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif;
}
/* SECTION 4 : CONTACT US */
/* 
.contact-wrap {
  background: #004986;
}
.contactus {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactus__wrapper {
  max-width: 100%;
  padding: 0 2rem;
}

.contactus__subtitle {
  font-family: "Noto Serif KR", sans-serif;
  text-transform: uppercase;
  text-align: left;
  color: #76e0f3;
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.contactus__title {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  text-align: left;
  color: #fcfcfc;
  font-size: 4rem;
}

.contactus__text {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8;
  padding: 2.5rem 0rem 1rem 0rem;
  color: #fff;
}

.contactus .contactus__icon {
  margin-top: 2.5rem;
}

.contactus__icon .contactus__mail {
  background: #f2f2f2;
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 1.25rem;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  text-decoration: none;
  color: #30336b;
}

.contactus__icon .contactus__mail a {
  cursor: pointer;
} */
@media screen and (max-width: 460px) {
  .showcase__grid {
    grid-template-columns: 1fr;
  }
  .showcase__content .showcase__title {
    font-size: 2rem;
  }
  .showcase__content .g-content {
    font-size: 0.9rem;
    line-height: 1.6;
    text-align: center;
  }
  .portfolio-wrap .portfolio__title,
  .about-wrap .about__title {
    margin: 0;
    margin-bottom: 1rem;
    width: 100%;
    text-align: right;
    font-size: 3rem;
  }
  .about-wrap .about__title {
    text-align: center;
  }
  .about-wrap .about__grid {
    padding: 0;
  }
}
