.header-wrap {
  margin: 1em 2rem;
  display: flex;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  justify-items: start;
  align-items: center; */
}
.logo-wrap {
}
.nav {
  /* justify-self: end;
  align-self: end; */
}
.nav .nav__lists {
  /* display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  font-family: "Noto Sans KR", sans-serif;
}
.nav__list a {
  color: var(--nav-color);
  padding: 0.8rem;
  text-align: center;
  font-size: 1.1rem;
  background: #fcfcfc;
  transition: all 0.4s ease-in;
}

.nav__list a:hover {
  background: #000;
  color: #fff;
  box-shadow: var(--shadow-lg);
}

@media screen and (max-width: 768px) {
  .header-wrap {
    display: block;
  }
  .header-wrap .header__logo {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
  .nav .nav__lists {
    display: block;
  }
  .nav .nav__list a {
    display: block;
    padding: 1rem;
  }
}
