.logo-wrap {
  margin: 3rem;

 display:grid;
 grid-template-columns:repeat(2, 1fr);
 grid-auto-rows: 1fr;
 justify-items: start;
 align-items: center;
}

.nav{
  justify-self: end;  
  align-self:end;
}
.nav .nav__lists {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  font-family: "Noto Sans KR", sans-serif;
}

.nav__list a {
  color: var(--nav-color);
  padding: 0.8rem;
  text-align: center;
  font-size: 1.1rem;
  background: #fcfcfc;
}

.nav__list a:hover {
  background: #000;
  color: #fff;
  box-shadow: var(--shadow-lg);
}

@media screen and (max-width: 768px) {
  .logo-wrap img {
    width: 50%;
    margin: auto;
}
